<h1 class="text-center text-xl">Getting Started</h1>

<pre class="w-80 md:w-160 lg:w-240">
  <code class="language-shell">{{installCode}}</code>
</pre>

<pre class="w-80 md:w-160 lg:w-240">
  <code class="language-typescript">{{importCode}}</code>
</pre>

<mat-tab-group animationDuration="0">
  <mat-tab label="HTML">
    <pre class="w-80 md:w-160 lg:w-240">
      <code class="language-html">{{htmlCode}}</code>
    </pre>
  </mat-tab>
  <mat-tab label="TS">
    <pre class="w-80 md:w-160 lg:w-240">
      <code class="language-typescript">{{tsCode}}</code>
    </pre>
  </mat-tab>
</mat-tab-group>
