<form [formGroup]="formGroup" (ngSubmit)="onNgSubmit()">
  <p>
    <mat-form-field>
      <mat-label>From account</mat-label>
      <input
        matInput
        type="text"
        name="from"
        [formControl]="formGroup.controls.from"
        (input)="formGroup.controls.to.updateValueAndValidity()"
      />

      @if (formGroup.controls.from.touched && formGroup.controls.from.invalid) {
        <mat-error>{{ formatErrors(formGroup.controls.from) }}</mat-error>
      }
    </mat-form-field>
  </p>

  <p>
    <mat-form-field>
      <mat-label>To account</mat-label>
      <input
        matInput
        type="text"
        name="to"
        [formControl]="formGroup.controls.to"
        (input)="formGroup.controls.from.updateValueAndValidity()"
      />

      @if (formGroup.controls.to.touched && formGroup.controls.to.invalid) {
        <mat-error>{{ formatErrors(formGroup.controls.to) }}</mat-error>
      }
    </mat-form-field>
  </p>

  <p>
    <button mat-flat-button [disabled]="formGroup.invalid">Submit</button>
  </p>
</form>

<app-code language="typescript" [code]="code"></app-code>
