<header class="py-2 px-4 bg-indigo-100 flex justify-between">
  <div class="flex">
    <h1>
      <a mat-button routerLink="/">
        <span class="flex items-center gap-2">
          <img src="favicon.ico" width="20" height="20" />
          Ngx-cross-field-validation
        </span>
      </a>
    </h1>

    <a mat-button routerLink="/examples" routerLinkActive=""> Examples </a>
  </div>

  <div>
    <a
      mat-button
      href="https://github.com/soc221b/ngx-cross-field-validation"
      target="_blank"
    >
      Github
    </a>
  </div>
</header>
